<style type="text/css">
    @media only screen and (max-width: 550px){
        #templateColumns{
            width:100% !important;
        }

        .templateColumnContainer{
            display:block !important;
            width:100% !important;
        }

        .columnImage{
            height:auto !important;
            max-width:550px !important;
            width:100% !important;
        }

        .leftColumnContent{
            /*font-size:16px !important;*/
            line-height:125% !important;
        }

        .rightColumnContent{
            /*font-size:16px !important;*/
            line-height:125% !important;
        }
    }
</style>
<table border="0" align="center" cellpadding="0" cellspacing="0" width="600" id="templateColumns">
    <tr>
        <td align="center" valign="top">
            <table align="left" border="0" cellpadding="10" cellspacing="0" width="600" class="templateColumnContainer">
                <tr>
                    <td class="leftColumnContent">
                        <img src="images/header.jpg" width="600" style="max-width:600px;" class="columnImage" />
                    </td>
                </tr>
            </table>
		</td>
	</tr>
	
	<tr>
		<td>
			 <table align="left" border="0" cellpadding="10" cellspacing="0" width="600" class="templateColumnContainer">
	                <tr>
	                    <td class="leftColumnContent">
							<hr style="border-width: 3px; border-style: solid; width: 40px; border-color: #f05d21; margin: 0;">
	                        <h1 style="margin-top:5px; text-transform:uppercase; font-size:20px; font-family: arial narrow, arial, helvetica, sans-serif;">STIMULATING ECONOMIC GROWTH</h1>
	                    </td>
	                </tr>
	            </table>

			<table align="left" border="0" cellpadding="10" cellspacing="0" width="300" class="templateColumnContainer" style="border-right:1px solid #cccccc;">
                <tr>
                    <td class="leftColumnContent">
                        <img src="images/image01.jpg" width="250" style="max-width:250px;" class="columnImage" />
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="leftColumnContent" style="font-family: arial, helvetica, sans-serif; font-size:11px;">
                        JPMorgan Chase Launches $250 Million Global Economic Opportunity Initiative
						<br/>
						<br/>
						Through research, data and investments, New Skills at Work will revolutionize the way employers and skills trainers develop talent for jobs in local high-growth industries...   READ MORE
                    </td>
                </tr>
            </table>
            <table align="right" border="0" cellpadding="10" cellspacing="0" width="300" class="templateColumnContainer">
                <tr>
					<td valign="top" class="rightColumnContent" style="font-family: arial, helvetica, sans-serif; font-size:11px;">
                        <h5 style="margin:0; font-size:13px; font-family: arial narrow, arial, helvetica, sans-serif; text-transform:uppercase;">Global Cities Initiative</h5>
						<span style="text-transform:uppercase;">A joint project of Brookings & <br/>JPMorgan Chase</span>
						<br/>
						<br/>
						Mexico City and Chicago Announce Innovative Economic Partnership  READ MORE
						<br/>
						<br/>
						New Research Identifies Competitive Advantages for London and Other Cities Download PDF
						<br/>
						<br/>
						<h5 style="margin:0; font-size:13px; font-family: arial narrow, arial, helvetica, sans-serif; text-transform:uppercase;">Helping Small Businesses Grow</h5>
						<br/>
						<br/>
						Chase is Named #1 Small BusinessAdministration Lender for the Fourth Consecutive Year  Download PDF
						<br/>
						<br/>
						Mission Main Street Grants Offer 12 Small Businesses $3 Million  READ MORE
                    </td>
                </tr>
            </table>
		</td>
	</tr>
	
	<tr style="background:#ececeb;">
		<td>	
			<table align="left" border="0" cellpadding="10" cellspacing="0" width="600" class="templateColumnContainer">
	                <tr>
	                    <td class="leftColumnContent">
							<hr style="border-width: 3px; border-style: solid; width: 40px; border-color: #f05d21; margin: 0;">
	                        <h1 style="margin-top:5px; text-transform:uppercase; font-size:20px; font-family: arial narrow, arial, helvetica, sans-serif;">IMPROVING FINANCIAL CAPABILITY &INCREASING ACCESS TO AFFORDABLE HOUSING</h1>
	                    </td>
	                </tr>
	            </table>

			<table align="left" border="0" cellpadding="10" cellspacing="0" width="300" class="templateColumnContainer" style="border-right:1px solid #cccccc;">
                <tr>
                    <td class="leftColumnContent">
                        <img src="images/image02.jpg" width="250" style="max-width:250px;" class="columnImage" />
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="leftColumnContent" style="font-family: arial, helvetica, sans-serif; font-size:11px;">
                        JPMorgan Chase Helps Struggling Families Access Safe, Affordable Housing 
						<br/>
						<br/>
						Grants will help further the great work of our nonprofit partners by helping low- and moderate-income families obtain affordable housing and improve their quality of life.READ MORE
                    </td>
                </tr>
            </table>
            <table align="right" border="0" cellpadding="10" cellspacing="0" width="300" class="templateColumnContainer">
                <tr>
					<td valign="top" class="rightColumnContent" style="font-family: arial, helvetica, sans-serif; font-size:11px;">
						Aid from JPMorgan Chase Foundation Supports New Saving and Asset-Building Tools 
						<br/>
						<br/>
						Grants will help further the great work of our nonprofit partners by helping low- and moderate-income families obtain affordable housing and improve their quality of life.    Download PDF
                    </td>
                </tr>
            </table>
        </td>
    </tr>

	<tr>
		<td>
			 <table align="left" border="0" cellpadding="10" cellspacing="0" width="600" class="templateColumnContainer">
	                <tr>
	                    <td class="leftColumnContent">
							<hr style="border-width: 3px; border-style: solid; width: 40px; border-color: #f05d21; margin: 0;">
	                        <h1 style="margin-top:5px; text-transform:uppercase; font-size:20px; font-family: arial narrow, arial, helvetica, sans-serif;">SERVING AMERICA&#39;S MILITARY AND VETERANS</h1>
	                    </td>
	                </tr>
	            </table>

			<table align="left" border="0" cellpadding="10" cellspacing="0" width="300" class="templateColumnContainer" style="border-right:1px solid #cccccc;">
                <tr>
                    <td class="leftColumnContent">
                        <img src="images/image03.jpg" width="250" style="max-width:250px;" class="columnImage" />
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="leftColumnContent" style="font-family: arial, helvetica, sans-serif; font-size:11px;">
                        JPMorgan Chase Helps Struggling Families Access Safe, Affordable Housing 
						<br/>
						<br/>
						The 100,000 Jobs Mission upped its commitment: Participating companies will hire 100,000 more U.S. military veterans to hire 200,000 veterans by 2020. The Coalition of member companies also unveiled a new website.  READ MORE 
                    </td>
                </tr>
            </table>
            <table align="right" border="0" cellpadding="10" cellspacing="0" width="300" class="templateColumnContainer">
                <tr>
					<td valign="top" class="rightColumnContent" style="font-family: arial, helvetica, sans-serif; font-size:11px;">
                        Chase and Navy Host Tim McGraw Concert for Military in Jacksonviille
						<br/>
						<br/>
						Frequent moves and deployments often make long-term employment difficult, which is why... Download PDF
						<br/>
						<br/>
						JPMorgan Chase Joins Military Spouse Employment Partnership
						<br/>
						<br/>
						Frequent moves and deployments often make long-term employment difficult, which is why...  READ MORE
                    </td>
                </tr>
            </table>
		</td>
	</tr>
	
	<tr style="background:#ececeb;">
		<td>	
			<table align="left" border="0" cellpadding="10" cellspacing="0" width="600" class="templateColumnContainer">
	                <tr>
	                    <td class="leftColumnContent">
							<hr style="border-width: 3px; border-style: solid; width: 40px; border-color: #f05d21; margin: 0;">
	                        <h1 style="margin-top:5px; text-transform:uppercase; font-size:20px; font-family: arial narrow, arial, helvetica, sans-serif;">STRENGTHENING OUR COMMUNITIES</h1>
	                    </td>
	                </tr>
	            </table>

			<table align="left" border="0" cellpadding="10" cellspacing="0" width="300" class="templateColumnContainer" style="border-right:1px solid #cccccc;">
                <tr>
                    <td class="leftColumnContent">
                        <img src="images/image04.jpg" width="250" style="max-width:250px;" class="columnImage" />
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="leftColumnContent" style="font-family: arial, helvetica, sans-serif; font-size:11px;">
						The One America Tour Rolls On – to Increase Volunteerism Across the US
						<br/>
						<br/>
						The national effort with Points of Light makes stops in Miami, Chicago and Houston. Earlier in the year, One America brought volunteers together in New York and Columbus.  READ MORE
                    </td>
                </tr>
            </table>
            <table align="right" border="0" cellpadding="10" cellspacing="0" width="300" class="templateColumnContainer">
                <tr>
					<td valign="top" class="rightColumnContent" style="font-family: arial, helvetica, sans-serif; font-size:11px;">
						Providing Assistance to Disaster Relief Efforts
						<br/>
						<br/>
						JPMorgan Chase continues to provide assistance to Hurricane Sandy relief efforts, bringing total monetary donations to more than $6 million.    Download PDF
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>